<footer>
  <nav class="round">
    <ul>
	  <li><%= link_to('Pradinis', root_path)  %></li>
      <li><%= link_to('Apie', about_path)  %></li>
      <li><%= link_to('Kontaktai', contact_path)  %></li>
    </ul>
  </nav>
</footer>
